h3{
    padding: 15px;
    margin: 77px;
    font-family: monospace;
    font-size: 2.2em;
    background-color:#AAB7B8;
    border: #AAB7B8  solid;
    border-radius: 12px;
}
h4{
    clear: both;
    font-family: monospace;
    font-size: 20px;
}
h5{
    font-family: monospace;
    font-size: 18px;
    text-decoration: underline;
}
figure{
    float: right;
    padding: 5px;
    margin: 1px;
    border: #34495E solid 1px;
}
p{
    font-family: monospace;
}